<main>
    <div class = "event_heading">
        <div class="reviewHeading">
            <div class="event_title">
                <h1>Events</h1>
            </div>
            <div class="ratingFilter">
                <div class="dropdown">
                    <button class="dropbtn">Sort by Rating</button>
                    <div class="dropdown-content">
                        <p onclick="sortCardsDescending()" class="btn">High to Low</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "event_Collection"> <!-- Note: When changing this section be sure to modify sort.js as well --> 
    {{#each events}}
        <div class = "card" onclick="location.href='../events/{{this._id}}';">
            <h2><a href="/events/{{this._id}}">{{this.name}}</a></h2>
            <p class = "category">{{this.capacity}}</p>
            <p>{{this.date}}</p>
            <p>{{this.type}}</p>  
            {{#if this.rated}}  
            <p class="avg">{{this.overallRating}}/5</p>
            {{else}}
            <p class="avg">No Reviews</p>
            {{/if}}
            <br/>
        </div>
    {{/each}}
    </div>
    <script src="/public/sort.js"></script>
</main>